<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>


<div class="ag-pdf-block">
    <div class="ag-format-container">
        <div class="js-ag-pdf-docs_box">
            <div class="js-ag-pdf_box">
                <div class="ag-pdf-tab ag-pdf-tab__pdf-docs">
                    <div class="ag-pdf-tab_title">
                        Resumes:
                    </div>

                    <ul class="ag-pdf-tab-cat_list">
                        <li class="js-ag-pdf-tab-cat_item js-ag-pdf-tab-cat_item__no-empty js-ag-pdf-tab-cat_item__active ">
                            <div class="js-pdf-tab_title-list ag-pdf-tab_title-list">
                                Resume HTML-coder:
                            </div>

                            <ul class="js-tabs ag-pdf-tab_list">
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-1">
                                        Document #1.1
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-2">
                                        Document #1.2
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-3">
                                        Document #1.3
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-4">
                                        Document #1.4
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-5">
                                        Document #1.5
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-6">
                                        Document #1.6
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-7">
                                        Document #1.7
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-8">
                                        Document #1.8
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="js-ag-pdf-tab-cat_item js-ag-pdf-tab-cat_item__no-empty">
                            <div class="js-pdf-tab_title-list ag-pdf-tab_title-list">
                                Resume Front-end developer:
                            </div>

                            <ul class="js-tabs ag-pdf-tab_list">
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-1">
                                        Document #2.1
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-2">
                                        Document #2.2
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-3">
                                        Document #2.3
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-4">
                                        Document #2.4
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="js-ag-pdf-frame">
                    <div id="js-pdf-loader" class="ag-pdf-loader">
                        <div class="js-ag-not-first-frame">
                            Select a file
                        </div>

                        <div class="js-ag-spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                        <div class="js-ag-pdf-loading-info">
                            Document is loading...
                        </div>
                    </div>

                    <ul class="ag-pdf-frame_list">
                        <li id="tab-1-1-1" class="js-ag-pdf-frame_item"
                            data-file="tets.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-1"></div>
                        </li>
                        <li id="tab-1-1-2" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Олександр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-2"></div>
                        </li>
                        <li id="tab-1-1-3" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Александр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-3"></div>
                        </li>
                        <li id="tab-1-1-4" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Sochava-Olexanr-1981.03.18_UA_RU_EN.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-4"></div>
                        </li>
                        <li id="tab-1-1-5" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Sochava-Alexanr-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-5"></div>
                        </li>
                        <li id="tab-1-1-6" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Олександр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-6"></div>
                        </li>
                        <li id="tab-1-1-7" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Александр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-7"></div>
                        </li>
                        <li id="tab-1-1-8" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Sochava-Olexanr-1981.03.18_UA_RU_EN.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-1-8"></div>
                        </li>

                        <li id="tab-1-2-1" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Sochava-Alexanr-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-2-1"></div>
                        </li>
                        <li id="tab-1-2-2" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Олександр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-2-2"></div>
                        </li>
                        <li id="tab-1-2-3" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Сочава-Александр-1981.03.18.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-2-3"></div>
                        </li>
                        <li id="tab-1-2-4" class="js-ag-pdf-frame_item"
                            data-file="https://raw.githack.com/SochavaAG/example-mycode/master/pens/0_docs/Sochava-Olexanr-1981.03.18_UA_RU_EN.pdf">
                            <div class="js-ag-pdf-canvases" id="js-pdf-canvases-tab-1-2-4"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><div class="ag-pdf-block">
    <div class="ag-format-container">
        <div class="js-ag-pdf-docs_box">
            <div class="js-ag-pdf_box">
                <div class="ag-pdf-tab ag-pdf-tab__pdf-docs">
                    <div class="ag-pdf-tab_title">
                        Resumes:
                    </div>

                    <ul class="ag-pdf-tab-cat_list">
                        <li class="js-ag-pdf-tab-cat_item js-ag-pdf-tab-cat_item__no-empty js-ag-pdf-tab-cat_item__active ">
                            <div class="js-pdf-tab_title-list ag-pdf-tab_title-list">
                                Resume HTML-coder:
                            </div>

                            <ul class="js-tabs ag-pdf-tab_list">
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-1">
                                        Document #1.1
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-2">
                                        Document #1.2
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-3">
                                        Document #1.3
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-4">
                                        Document #1.4
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-5">
                                        Document #1.5
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-6">
                                        Document #1.6
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-7">
                                        Document #1.7
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-1-8">
                                        Document #1.8
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="js-ag-pdf-tab-cat_item js-ag-pdf-tab-cat_item__no-empty">
                            <div class="js-pdf-tab_title-list ag-pdf-tab_title-list">
                                Resume Front-end developer:
                            </div>

                            <ul class="js-tabs ag-pdf-tab_list">
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-1">
                                        Document #2.1
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-2">
                                        Document #2.2
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-3">
                                        Document #2.3
                                    </a>
                                </li>
                                <li class="ag-pdf-tab_item">
                                    <a class="js-pdf-tab_link ag-pdf-tab_link" href="#tab-1-2-4">
                                        Document #2.4
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script type="module">
    (function ($) {
        $(function () {


            /* Custom PDF Reader */
            var pdfjsLib = window['pdfjs-dist/build/pdf.mjs'];
            pdfjsLib.GlobalWorkerOptions.workerSrc = 'pdfjs-dist/build/pdf.worker.mjs';


            $(document).ready(function () {
                var onloadHref = $('.js-ag-pdf-docs_box').first().find('.js-pdf-tab_link').first().attr('href');
                $('.js-ag-pdf-docs_box').first().find('.js-pdf-tab_link').first().addClass('js-ag-pdf-tab_link__active');

                $('.js-ag-pdf-docs_box').first().find('.js-ag-not-first-frame').hide();
                $('.js-ag-pdf-docs_box').first().find('.js-ag-spinner').show();
                $('.js-ag-pdf-docs_box').first().find('.js-ag-pdf-loading-info').show();

                $(onloadHref).css('display', 'block');
                $(onloadHref).addClass('js-ag-pdf-frame_item__active');

                var $page = $('html, body');
                $('a[href*="#"]').click(function() {
                    $page.animate({
                        scrollTop: $($.attr(this, 'href')).offset().top -120}, 500);
                    return false;
                });

                generateCurrentPdf(onloadHref);
            });

            $('.js-pdf-tab_title-list').on('click', function () {
                if ($(this).closest('li').hasClass('js-ag-pdf-tab-cat_item__active')) {
                    $('.js-ag-pdf-tab-cat_item').removeClass('js-ag-pdf-tab-cat_item__active');
                } else {
                    $('.js-ag-pdf-tab-cat_item').removeClass('js-ag-pdf-tab-cat_item__active');
                    $(this).closest('li').addClass('js-ag-pdf-tab-cat_item__active');
                }
            });

            $('.js-pdf-tab_link').on('click', function () {
                var thisHref = $(this).attr('href');
                $(this).closest('.js-ag-pdf_box').find('.js-pdf-tab_link').removeClass('js-ag-pdf-tab_link__active');
                $(this).addClass('js-ag-pdf-tab_link__active');

                $(this).closest('.js-ag-pdf_box').find('.js-ag-pdf-frame_item__active').hide();
                $(this).closest('.js-ag-pdf_box').find('.js-ag-not-first-frame').hide();
                $(this).closest('.js-ag-pdf_box').find('.js-ag-pdf-loading-info').show();
                $(this).closest('.js-ag-pdf_box').find('.js-ag-spinner').show();
                $(this).closest('.js-ag-pdf_box').find('.js-ag-pdf-frame_item').removeClass('js-ag-pdf-frame_item__active');
                $(thisHref).show();
                $(thisHref).addClass('js-ag-pdf-frame_item__active');

                $(this).closest('.js-ag-pdf_box').find('#js-pdf-loader').show();

                if ($(thisHref).find('canvas').length > 0) {
                    $(this).closest('.js-ag-pdf_box').find('#js-pdf-loader').fadeOut();
                } else {
                    generateCurrentPdf(thisHref);
                }
            });

            function generateCurrentPdf(href) {
                var url = $(href).data('file');
                var tabId = $(href).attr('id');

                var pdfDoc = null,
                    pageNum = 1,
                    pageRendering = false,
                    pageNumPending = null,
                    disableAutoFetch = true,
                    disableStream = true,
                    scale = 1.5;

                function renderPage(num, canvas) {
                    var ctx = canvas.getContext('2d');

                    pageRendering = true;
                    // Using promise to fetch the page
                    pdfDoc.getPage(num).then(function (page) {
                        var viewport = page.getViewport({
                            scale: scale,
                            disableAutoFetch: disableAutoFetch,
                            disableStream: disableStream
                        });
                        canvas.height = viewport.height;
                        canvas.width = viewport.width;

                        // Render PDF page into canvas context
                        var renderContext = {
                            canvasContext: ctx,
                            viewport: viewport
                        };
                        var renderTask = page.render(renderContext);

                        // Wait for rendering to finish
                        renderTask.promise.then(function () {
                            pageRendering = false;
                            if (pageNumPending !== null) {
                                // New page rendering is pending
                                renderPage(pageNumPending);
                                pageNumPending = null;
                            }

                            $(href).closest('.js-ag-pdf_box').find('#js-pdf-loader').fadeOut();
                        });
                    });
                }

                pdfjsLib.getDocument(url, tabId).promise.then(function (pdfDoc_) {
                    pdfDoc = pdfDoc_;

                    const pages = parseInt(pdfDoc.numPages);

                    var canvasHtml = '';
                    for (var i = 0; i < pages; i++) {
                        canvasHtml += '<canvas id="' + tabId + '-canvas_' + i + '"></canvas>';
                    }

                    document.getElementById('js-pdf-canvases-' + tabId).innerHTML = canvasHtml;

                    for (var i = 0; i < pages; i++) {
                        var canvas = document.getElementById(tabId + '-canvas_' + i);
                        renderPage(i + 1, canvas);

                    }
                });
            }
            /* /Custom PDF Reader */


        });
    })(jQuery);
</script>


</body>
</html>